
html,body {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	overflow: hidden;
}
/* Pen-specific styles here */

canvas {
	display: block;
	width: 1280px;
    height: 1000px;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
    background-image: url(../images/sky.png);
    background-size: cover;
}
#acceuil{
    display: block;
}
#sound{
    display: block;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 600px;
    right: 30px;
}
.soundOn{
    background-image: url("../images/soundOn.png");    
}
.soundOff{
    background-image: url("../images/soundOff.png");    
}
#jeux{
    display: none;
}
@keyframes rain {
    0% {transform:translateY(0px);}
    10%{transform: rotate(180deg); 
        }
    80%{
        width:40px;
         height:40px
    }
    100%{transform:translateY(430px);
        /* visibility: hidden; */
        transition: visibility 0s 1s, opacity 3s linear;
        opacity: 70%;
        height:0%;  
        width:0%
        }
    
}
#resultat span{
    font-size: 300%;
}
header {
    text-align: center;
    font-family: Luminari, fantasy;
    color: rgb(233, 148, 162);
    font-size: 150%;
    text-shadow: 4px 3px 0px #7A7A7A;
    margin-bottom: 0em;
}
.start{
    background-color: rgb(233, 131, 148);
}
.stop{
    background-color: rgb(182, 34, 91);
}
button {
    color: #fff;
    font-size: 30px;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
#game {
    border: 5px;
    border-radius: 5%;
    box-shadow: inset 0 0 1em rgb(160, 178, 190), 0 0 2em rgb(247, 138, 188);
    background-image: url("../images/fond1.png");
    /* background-color: rgb(245, 225, 225); */
    height: 460px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    
}
#resultat{
    display: none;
    text-align: center;
    height: 150px;
    width: 400px;
    background-color: aliceblue ;
    opacity: 50%;
    position: relative;
    margin: auto;
    padding-top: 50px;
}
#resultat p{
    font-weight: bold;
}
#score h2{
    text-align: center;
}
.boom{
    background-image: url("../images/boom.png");
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.bonbon1 {
    background-image: url("../images/bonbon1.png");
    animation:rain 8s ;
    animation-fill-mode:forwards; 
}
.bonbon2 {
    background-image: url("../images/bonbon2.png");
    animation:rain 5s ;
    animation-fill-mode:forwards; 
}
.bonbon3 {
    background-image: url("../images/bonbon3.png");
    animation:rain 6s ;
    animation-fill-mode:forwards; 
}
.bonbon4 {
    background-image: url("../images/bonbon4.png");
    animation:rain 4s ;
    animation-fill-mode:forwards; 
}
.bonbon5 {
    background-image: url("../images/bonbon5.png");
    animation:rain 8s ;
    animation-fill-mode:forwards;
}
.bonbon6 {
    background-image: url("../images/bonbon6.png");
    animation:rain 4s ;
    animation-fill-mode:forwards; 
}
.bonbon7 {
    background-image: url("../images/bonbon7.png");
    animation:rain 5s ;
    animation-fill-mode:forwards; 
}
.bonbon8 {
    background-image: url("../images/bonbon8.png");
    animation:rain 6s ;
    animation-fill-mode:forwards; 
}
.bonbon9 {
    background-image: url("../images/bonbon9.png");
    animation:rain 8s ;
    animation-fill-mode:forwards; 
}
.lait {
    background-image: url("../images/lait.png");
    animation:rain 6s ;
    animation-fill-mode:forwards; 
}
.viande{
    background-image: url("../images/viande.png"); 
    animation:rain 3s ;
    animation-fill-mode:forwards;
}

.bomb1 {
    background-image: url("../images/bomb1.png");
    animation:rain 5s ;
    animation-fill-mode:forwards; 
}
.bomb2 {
    background-image: url("../images/bomb2.png");
    animation:rain 6s ;
    animation-fill-mode:forwards; 
}
.gift {
    background-image: url("../images/gift.png");
    animation:rain 4s ;
    animation-fill-mode:forwards;
}
.bonbon{
    height: 40px;
    width: 40px; 
    position:absolute;
  }
#score {
    color: rgb(71, 36, 75);
    font-size:300%; 
    position: absolute;
    z-index: 3; 
    pointer-events:none;
    top: 130px;
    right: 1020px;
}
.informations{
    
    width: 800px;
    margin: auto;
    margin-top: 20px;
    border: 5px;
    border-radius: 5%;
    box-shadow: inset 0 0 1em rgb(160, 178, 190), 0 0 2em rgb(247, 138, 188);
  }
h3{
    font-size: 180%;
    color: rgb(207, 24, 94);
    text-align: center;
    padding-top: 20px;
}
p{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    color: rgb(58, 21, 50);
}
#ps{
    opacity: 40%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    margin-top: 6px;
}
.part1 {
    display: flex;
    height: 130px;
    width: 700px;
    flex-direction: row;
    align-content: space-around;
    margin: auto;
}
.part1 p{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    color: rgb(209, 47, 101);
}
#sphere {
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 60px;
    color: rgb(71, 36, 75);
    height: 80px;
    margin: auto;
    margin-top: 20px;
    position: absolute;
    top: 520px;
    right: 0px;
    text-align: center;
    width: 230px;
}
.number {
    display: inline-block;
    width: 40px;
}
.number.mill {
  width:30px;
  font-weight: lighter;
  font-size: smaller;
}
