body{
    background-color: #cce6ff;
}
#acceuil{
    display: block;
}
#jeux{
    display: none;
}
@keyframes rain {
    0% {transform:translateY(0px);}
    80%{ width:60px;
         height:60px}
    95%{height:0%;  
        width:0%}
    100% {transform:translateY(535px);
        height:0%;  
        width:0%
        }
    
}
#resultat span{
    font-size: 300%;
}
header {
    text-align: center;
    font-family: Luminari, fantasy;
    color: rgb(233, 148, 162);
}
.start{
    background-color: rgb(233, 131, 148);
}
.stop{
    background-color: rgb(182, 34, 91);
}
button {
    color: #fff;
    font-size: 30px;
    padding: 20px 40px;
    border: 0;
    border-radius: 5px;
    display: block;
    margin:auto;
  }
#game {
    background-image: url("../images/fond1.png");
    height: 599px;
    width: 1065px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
}
#resultat{
    display: none;
    text-align: center;
    height: 150px;
    width: 400px;
    background-color: aliceblue ;
    opacity: 50%;
    position: relative;
    margin: auto;
    padding-top: 50px;
}
#resultat p{
    font-weight: bold;
}
#score h2{
    text-align: center;
}
.bonbon1 {
    background-image: url("../images/bonbon1.png");
    animation:rain 8s ;
    animation-fill-mode:forwards; 
}
.bonbon2 {
    background-image: url("../images/bonbon2.png");
    animation:rain 5s ;
    animation-fill-mode:forwards; 
}
.bonbon3 {
    background-image: url("../images/bonbon3.png");
    animation:rain 6s ;
    animation-fill-mode:forwards; 
}
.bonbon4 {
    background-image: url("../images/bonbon4.png");
    animation:rain 4s ;
    animation-fill-mode:forwards; 
}
.bonbon5 {
    background-image: url("../images/bonbon5.png");
    animation:rain 8s ;
    animation-fill-mode:forwards; 
}
.bonbon6 {
    background-image: url("../images/bonbon6.png");
    animation:rain 4s ;
    animation-fill-mode:forwards; 
}
.bonbon7 {
    background-image: url("../images/bonbon7.png");
    animation:rain 5s ;
    animation-fill-mode:forwards; 
}
.bonbon8 {
    background-image: url("../images/bonbon8.png");
    animation:rain 6s ;
    animation-fill-mode:forwards; 
}
.bonbon9 {
    background-image: url("../images/bonbon9.png");
    animation:rain 8s ;
    animation-fill-mode:forwards; 
}
.lait {
    background-image: url("../images/lait.png");
    animation:rain 6s ;
    animation-fill-mode:forwards; 
}
.viande{
    background-image: url("../images/viande.png"); 
    animation:rain 3s ;
    animation-fill-mode:forwards;
}

.bomb1 {
    background-image: url("../images/bomb1.png");
    animation:rain 5s ;
    animation-fill-mode:forwards; 
}
.bomb2 {
    background-image: url("../images/bomb2.png");
    animation:rain 6s ;
    animation-fill-mode:forwards; 
}
.gift {
    background-image: url("../images/gift.png");
    animation:rain 4s ;
    animation-fill-mode:forwards;
}
.bonbon{
    height: 60px;
    width: 60px; 
    position:absolute;
  }
#score {
    font-size:300%; 
    position:relative;
    z-index: 3; 
    pointer-events:none;
}
.informations{
    
    width: 800px;
    margin: auto;
    border: 5px;
    border-radius: 5%;
    box-shadow: inset 0 0 1em rgb(160, 178, 190), 0 0 2em rgb(247, 138, 188);
  }
h3{
    font-size: 180%;
    color: rgb(207, 24, 94);
    text-align: center;
    padding-top: 20px;
}
p{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    color: rgb(58, 21, 50);
}
#ps{
    opacity: 40%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    margin-top: 6px;
}
.part1 {
    display: flex;
    height: 130px;
    width: 700px;
    flex-direction: row;
    align-content: space-around;
    margin: auto;
}
.part1 p{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    color: rgb(209, 47, 101);
}
#sphere {
    border: 2px solid rgb(100, 34, 75);
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 60px;
    color: rgb(71, 36, 75);
    height: 80px;
    margin: auto;
    margin-top: 20px;
    position: relative;
    text-align: center;
    width: 230px;
}
.number {
    display: inline-block;
    width: 40px;
}
.number.mill {
  width:30px;
  font-weight: lighter;
  font-size: smaller;
}
/* .btn {
    border: 0;
    border-radius: 100%;
    bottom: 10px;
    color: #fff;
    cursor: pointer;
    height: 50px;
    outline: 0;
    position: absolute;
    width: 50px;
  } */
